@mixin main-text($bg, $fSize, $fFamily, $lineHeight, $clr, $mediaFS) {
    background-color: $bg;
    color: $clr;
    font-family: $fFamily, sans-serif;
    font-size: $fSize;
    line-height: $lineHeight;

    @media screen and (min-width: 650px) {
        font-size: $mediaFS;
    }

}