@font-face {
  font-family: 'Calculator';
  src: url(fonts/digital-7.ttf);
}
@font-face {
  font-family: 'Calculator';
  font-style: italic;
  src: url(fonts/digital-7-italic.ttf);
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

html {
  height: 100vh;
}

header {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
header img {
  max-height: 200px;
}

.hat {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#242323), color-stop(19%, #424242), color-stop(40%, #868686), color-stop(60%, #b4b4b4), color-stop(83%, #d4d4d4), to(#242323));
  background: linear-gradient(to right, #242323 0%, #424242 19%, #868686 40%, #b4b4b4 60%, #d4d4d4 83%, #242323 100%);
  background-size: 10000px 100%;
  -webkit-animation: bg 15s linear infinite;
          animation: bg 15s linear infinite;
}

@-webkit-keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
body {
  min-width: 272px;
  font-family: 'Georgia', serif;
  color: #7c2020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.wide-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

nav {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 5vw;
  padding: 1rem;
}
nav ul li a:hover {
  background-color: rgba(155, 221, 233, 0.2);
}
nav ul li a:active {
  color: aqua !important;
}
nav ul li a .active {
  color: aqua !important;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calculator {
  max-width: 100%;
  border: 3px solid;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  color: #333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
main .keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.monitor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
.monitor fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
}
.monitor fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}
.monitor label, .monitor legend {
  display: none;
}
.monitor input {
  min-width: 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100px;
  font-family: Calculator, sans-serif;
  padding: 5vw 1vw 5vw 0;
  font-size: 20vw;
  height: 30vw;
  line-height: 30vw;
  text-align: right;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd00;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  overflow-y: visible;
  overflow-x: auto;
}
.monitor input::-webkit-input-placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
.monitor input:-ms-input-placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
.monitor input::-ms-input-placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
.monitor input::placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}

.keytapped-white {
  background: rgba(192, 192, 177, 0.664) !important;
  text-shadow: 0.2rem 0.4rem 0.4px rgba(33, 37, 41, 0.2) !important;
  -webkit-box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5) !important;
          box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5) !important;
}

.keytapped-others {
  background: #1f1f1e !important;
  text-shadow: 0.2rem 0.4rem 0.4px rgba(243, 241, 148, 0.2) !important;
  -webkit-box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5) !important;
          box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5) !important;
}

.data-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: row;
  gap: 1.5vw;
}
.data-buttons button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 4px;
  background: #ffffff;
  color: #212529;
  padding: 2vw 2vw;
  font-size: 8vw;
  font-family: Calculator, sans-serif;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.226);
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.226);
  cursor: pointer;
}
.data-buttons button:hover {
  background: rgba(192, 192, 177, 0.664);
}
.data-buttons button:active {
  text-shadow: 0.2rem 0.4rem 0.4px rgba(33, 37, 41, 0.2);
  -webkit-box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5);
          box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5);
}
.data-buttons .g-bc, .data-buttons .g-C {
  font-size: 11vw;
}

.g-bc {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.g-C {
  grid-row: 1 / span 1;
  grid-column: 4 / span 2;
}

.g-sqrt, .g-pm, .g-pi, .g-log, .g-ln {
  grid-row: 2 / span 1;
}

.data-buttons > .nn {
  background: #5f5f5f;
  color: #f6f7ec;
}
.data-buttons > .nn:hover {
  background: #1f1f1e;
}
.data-buttons > .nn:active {
  text-shadow: 0.2rem 0.4rem 0.4px rgba(243, 241, 148, 0.2);
  -webkit-box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5);
          box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5);
}

.data-buttons > .g-eq {
  grid-column: 4 / span 2;
  background: #02203bbb;
  color: white;
}

.data-buttons > .rb {
  background: rgba(187, 6, 6, 0.753);
}

footer {
  background-color: rgba(243, 241, 148, 0.849);
  padding: 0.5rem;
  font-size: 5vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media screen and (min-width: 650px) {
  .wide-screen {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wide-screen .sidebar {
    position: relative;
    left: -1.5%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    overflow-x: hidden;
  }
  .wide-screen .sidebar:hover {
    left: 0;
  }
  .wide-screen .sidebar:hover ul a {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: white;
  }
  .wide-screen .sidebar ul a {
    color: black;
  }
  .wide-screen nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 3vw 3vw 0;
  }
  .wide-screen nav #calc-ref:hover {
    border-radius: 0 3vw 0 0;
  }
  .wide-screen nav #ab-ref:hover {
    border-radius: 0 0 3vw 0;
  }
  .wide-screen nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wide-screen nav ul li a {
    font-size: 1.7vw;
  }
  .wide-screen .calculator {
    max-width: 50%;
  }
  .wide-screen .data-buttons {
    gap: 0.8vw;
  }
  .wide-screen .data-buttons button {
    padding: 0.2vw 0.2vw;
    font-size: 3vw;
  }
  .wide-screen .data-buttons .g-bc, .wide-screen .data-buttons .g-C {
    font-size: 4vw;
  }
  .wide-screen .monitor input {
    padding: 1.2vw 0.2vw 1.2vw 0;
    font-size: 4.6vw;
    height: 7vw;
  }

  footer {
    font-size: 1.4vw;
  }
}

/*# sourceMappingURL=style.css.map */