@font-face {
	font-family: 'Calculator';
	src: url(fonts/digital-7.ttf);
}
@font-face {
	font-family: 'Calculator';
    font-style: italic;
	src: url(fonts/digital-7-italic.ttf);
}
$calc-color: #212529;
html,
body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
}
html {
    height: 100%;
}
header {
    margin: 0;
    padding: 0;
}
.hat 
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
body {
    min-width: 272px; 
    font-family: 'Oswald', sans-serif;
    color: #7c2020;
    background-color: rgba(179, 172, 172, 0.582);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
nav {
    background: black;

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        justify-content: space-evenly;
        align-items: center;
        li {
            a {
                text-decoration: none;
                color:#ffffff;
                padding: 1em;
                &:hover {
                    background-color: rgba($color: #424040, $alpha: 0.5);
                }
            }
        }
    }
}
*, *::before, *::after {
    box-sizing: border-box;
  }
.calculator
{
    max-width: 100%;
}
main {
    display: flex;
    flex: 1 0 auto;
    color: #333;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    form {
        display: flex;
        flex: 0 0 100%;
    }
    .keys {
        display: flex;
        flex: 0 0 100%;
    }
}
.monitor {
    display: flex;
    height: 30vw;
    max-width: 100%;
    fieldset {
        border: none;
        display: flex;
        margin: 0;
        margin-bottom: 3px;
        padding: 0;
        flex: 1 1 auto;
        max-width: 100%;
        div {
            display: flex;
            flex: 1 1 auto;
            width: 100%;
        }
    }
    label, legend {
        display: none;
    }
    input {
        min-width: 0;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        width: 100px;
        padding: 0;
        font-family: Calculator, sans-serif;
        font-size: 15vw;
        text-align: right;
        color: $calc-color;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &::placeholder {
            color: $calc-color;
            opacity: 0.7;
        }
        
    }
}
.data-buttons {
    display: grid;
    border-style: solid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(7,2fr);
    grid-auto-flow:row;
    gap: 5px;
    button {
        appearance: none;
        border: 0;
        border-radius: 2px;
        background: #ffffff;
        color: $calc-color;
        padding: 1vw 2vw;
        font-size: 8vw;
        font-family: Calculator, sans-serif;
        transition: background-color 0.3s ease;
        cursor: pointer;
        &:hover
        {
            background:rgba(192, 192, 177, 0.664)
        }
    }
}
 .g-bc {
     grid-row: 1 / span 2;
     grid-column: 1 / span 3;
}
.g-C {
    grid-row: 1 / span 2;
     grid-column: 4 / span 2;
}
.g-sqrt , .g-pm , .g-pi, .g-log , .g-ln 
 {
    grid-row: 3 / span 2;
 }
.g-eq {
     grid-column: 4 / span 2;
 }
footer {
    background-color: rgba(243, 241, 148, 0.849);
    padding: 0.5rem;
}