@font-face {
  font-family: 'Calculator';
  src: url(fonts/digital-7.ttf);
}
@font-face {
  font-family: 'Calculator';
  font-style: italic;
  src: url(fonts/digital-7-italic.ttf);
}
html,
body {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

html {
  height: 100vh;
}

header {
  margin: 0;
  padding: 0;
}

.hat {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

body {
  min-width: 272px;
  font-family: 'Oswald', sans-serif;
  color: #7c2020;
  background-color: rgba(179, 172, 172, 0.582);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

nav {
  background: black;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 1em;
}
nav ul li a:hover {
  background-color: rgba(66, 64, 64, 0.5);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calculator {
  max-width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  color: #333;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
main .keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.monitor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vw;
  max-width: 100%;
}
.monitor fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
}
.monitor fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}
.monitor label, .monitor legend {
  display: none;
}
.monitor input {
  min-width: 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100px;
  padding: 2vh;
  font-family: Calculator, sans-serif;
  font-size: calc( (100vw)/(1280 - 480) * (120 - 90) + 60px);
  line-height: 3;
  text-align: right;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  overflow: visible;
}
.monitor input::-webkit-input-placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
.monitor input:-ms-input-placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
.monitor input::-ms-input-placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
.monitor input::placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}

.data-buttons {
  display: grid;
  border-style: solid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 2fr);
  grid-auto-flow: row;
  gap: 5px;
}
.data-buttons button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 2px;
  background: #ffffff;
  color: #212529;
  padding: 2vw 4vw;
  font-size: 8vw;
  font-family: Calculator, sans-serif;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.data-buttons button:hover {
  background: rgba(192, 192, 177, 0.664);
}

.g-bc {
  grid-row: 1 / span 2;
  grid-column: 1 / span 3;
  font-size: 11vw !important;
}

.g-C {
  grid-row: 1 / span 2;
  grid-column: 4 / span 2;
  font-size: 11vw !important;
}

.g-sqrt, .g-pm, .g-pi, .g-log, .g-ln {
  grid-row: 3 / span 2;
}

.g-eq {
  grid-column: 4 / span 2;
  background: #35393bbb !important;
  color: white !important;
}
.g-eq:hover {
  background: #1f1f1e !important;
}

footer {
  background-color: rgba(243, 241, 148, 0.849);
  padding: 0.5rem;
}

/*# sourceMappingURL=style.css.map */