* {
    touch-action: manipulation;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  sub,
  sup {
      position: relative;
      font-size: 75%;
      line-height: 0;
      vertical-align: baseline;
  }

  sup {
      top: -0.5em;
  }

  sub {
      bottom: -0.25em;
  }