@font-face {
	font-family: Calculator;
	src: url("../fonts/digital-7.ttf");
}

@font-face {
	font-family: Calculator;
    font-style: italic;
	src: url("../fonts/digital-7-italic.ttf");
}

@font-face {
	font-family: Comfortaa;
	src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
	font-family: Roboto;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: Versus;
	src: url("../fonts/versus.otf");
}

@font-face {
	font-family: OpenSans;
	src: url("../fonts/OpenSans.ttf");
}

@font-face {
	font-family: Cunia;
	src: url("../fonts/cunia.otf");
}