.page {
    @include padding-margin(0,0);

    display: flex;
    overflow: hidden auto !important;
    min-width: 272px;
    height: 100%;
    min-height: 100%;
    flex-direction: column;
    background-color: $bg-calc-color;
    color: #000; 
    font-family: Georgia, serif;
}

// .page_back_animation {
//     animation: bg 15s linear infinite ;
//     background: linear-gradient(to right, #242323 0%,#424242 19%,#868686 40%,#b4b4b4 60%,#d4d4d4 83%,#242323 100%); 
//     background-size: $bg-width 100%;
//   }
  
  // @keyframes bg{
  //   0%{
  //     background-position-x: 0;
  //   }
    
  //   100%{
  //     background-position-x: $bg-width;
  //   }
  // }

  .page__wide-screen
  {
      position: relative;
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;

      @media screen and (min-width: 650px) {
      flex-direction: row;
      align-items: center;
      }
  }

  .page_mobile-back {
    background-image: url("../images/uphone.jpg");
    background-repeat: repeat;
    background-size: cover;

    @media screen and (min-width: 650px) {
        background-image: url("../images/desk.jpg");
    }
}

.background-parallax {
  background-attachment: fixed;
}