.math-operators {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30vh;
    padding: 0 ;
    @include main-text(rgba(0,0,0,0), 5vw, Roboto, 2, rgb(255,255,255), 2vw);
    &__op {
        line-height:1.33;
        font-size: 6vw;
        padding: 1vw;
        font-family: Calculator, sans-serif;
        color: rgb(252, 174, 8);
        background: linear-gradient(45deg, #3358ff, #046c74);
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s, font-size 0.2s;
        margin-bottom: 1vw;
        margin-top: 1vw;
        @media screen and (min-width: 650px) {
            font-size: 4vw;
        }
    }
    
    &__op:hover {
        background-color: #333;
        font-size: 7vw;
        @media screen and (min-width: 650px) {
            font-size: 5vw;
        }
    }
    &__other {
        line-height:initial;
        align-items: center;
        justify-content: center;
    }
    &__list, &__other {
        background-color: rgb(0, 0, 0);
        list-style-type: none;
        padding-inline-start: 1.2vw;
    }
    &__head {
        font-family: Versus, sans-serif;
        display: inline-flex;
        text-align: center;
        font-size: 7vw;
        @media screen and (min-width: 650px) {
            font-size: 4vw;
        }
    }
    &__ref {
        text-decoration: none;
        cursor: pointer;
        &:visited {
            color: rgb(252, 174, 8);
        }
    }
}