.calculator
{
    @include padding-margin(0.25rem,0.25rem);

    max-width: 100%;
    border: 3px solid;
    border-radius: 0.5rem;

    @media screen and (min-width:650px) {
        max-width: 50%;
    }

    &__form-screen{
        display: flex;
        max-width: 100%;
        flex: 0 0 100%;
    }

    &__keys {
        display: flex;
        flex: 0 0 100%;
    }

    &__fieldset {
        @include padding-margin(0,0 0 3px 0);

        display: flex;
        max-width: 100%;
        flex: 1 1 auto;
        border: none;
    }

    &__inputs-wrapper {
        display: flex;
        width: 100%;
        flex: 1 1 auto;
    }
        
    label, legend {
        display: none;
    }

    &__screen {
        display: block;
        overflow: scroll;
        width: 100px;
        min-width: 0;
        max-width: 100%;
        height: auto;
        flex: 1 1 auto;
        flex-wrap: wrap;
        padding: 0.5vw 0.5vw 0.5vw 0;
        border: 1px solid #bdbdbd00;
        border-radius: 0.25rem;
        background-clip: padding-box;
        background-color: #fff;
        color: $calc-color;
        font-family: Calculator, sans-serif;
        font-size: 20vw;
        line-height: 1.33;
        text-align: right;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        @media screen and (min-width:650px) {
            height: 7vw;
            padding: 1.2vw 0.2vw 1.2vw 0;
            font-size: 4.6vw;
        }

        &::placeholder {
            overflow: visible;
            color: $calc-color;
            opacity: 0.7;
        }
    }

    &__data-buttons {
        display: grid;
        gap: 1.5vw;
        grid-auto-flow:row;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(7,1fr);

        @media screen and (min-width:650px) {
            gap: 0.8vw;
        }
    }

    &__btn {
        padding: 2vw;
        border: 0;
        border-radius: 4px;
        background: #fff;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.226) ;
        color: $calc-color;
        cursor: pointer;
        font-family: Calculator, sans-serif;
        font-size: 8vw;
        transition: background-color 0.3s ease;

        @media screen and (min-width:650px) {
            padding: 0.2vw;
            font-size: 3vw;
        }

        &:hover
        {
            background:rgba(192, 192, 177, 0.664);
        }

        &:active
        {
            box-shadow: inset 2px 6px 12px rgba($calc-color, 0.5);
            text-shadow:  0.2rem 0.4rem 0.4px rgba($calc-color, 0.2);
            
        }
    }
    
}

.calc-wrapper {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #333;
}

.calculator__btn_type_bc,.calculator__btn_type_C {
    font-size: 11vw;

    @media screen and (min-width:650px) {
        font-size: 4vw;
    }
}

 .calculator__btn_type_bc {
     grid-column: 1 / span 3;
     grid-row: 1 / span 1;
}

.calculator__btn_type_C {
     grid-column: 4 / span 2;
    grid-row: 1 / span 1;
}

.calculator__btn_type_sqrt , .calculator__btn_type_pm , .calculator__btn_type_pi, .calculator__btn_type_log , .calculator__btn_type_ln 
 {
    grid-row: 2 / span 1;
    
 }

.calculator__btn_not-digit {
    background: #5f5f5f;
    color: #f6f7ec;

    &:hover
    {
        background:rgb(31, 31, 30);
    }

    &:active
    {
        box-shadow: inset 2px 6px 12px rgba(rgba(97, 96, 96, 0.212), 0.5);
        text-shadow: 0.2rem 0.4rem 0.4px rgba(243, 241, 148, 0.2);
    }
 }

.calculator__btn_type_eq {
    background: #02203bbb;
    color: white;
    grid-column: 4 / span 2;
} 

.calculator__btn_color-back_red {
    background: rgba(187, 6, 6, 0.753);
 }

 .js-keytapped-white {
    background:rgba(192, 192, 177, 0.664) !important;
    box-shadow: inset 2px 6px 12px rgba($calc-color, 0.5) !important;
    text-shadow:  0.2rem 0.4rem 0.4px rgba($calc-color, 0.2) !important;
  }

.js-keytapped-others {
    background:rgb(31, 31, 30) !important;
    box-shadow: inset 2px 6px 12px rgba(rgba(97, 96, 96, 0.212), 0.5) !important;
    text-shadow: 0.2rem 0.4rem 0.4px rgba(243, 241, 148, 0.2) !important;
  }
