.inline-border {
    position: relative;
    z-index: 1;
    top: -5vw;
    display: inline;
    background-color: rgba($color: #cccbcb, $alpha: 1) !important;
    margin-block: 0.1em 0.1em;

    @media screen  and (min-width: 650px) {
        top: -2vw;
    }

}