.intro {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0);
}

.intro__text {
    @include main-text(rgba(0,0,0,0), 5vw, Roboto, 2, rgb(255,255,255), 2vw);

    padding: 0;
    padding-right: 2vw;
    padding-left: 2vw;
    text-align: center;
}

