.project-updates__list-wrapper {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 650px) {
        opacity: 0;
        transition: opacity 1s ease;
    
        &:hover {
            opacity: 1;
        }
    }
}


.project-updates {
    &__head {
        color: rgb(0, 0, 0);
        font-family: Versus, sans-serif;
        text-align: center;

        @media screen and (min-width: 650px) {
            position: absolute;
            display: inline-block;
            height: 17vw;
            font-size: 1.25vw;
            text-align: center;
            text-orientation: upright;
            writing-mode: vertical-rl;
        }


    }

    &__list {
        @include padding-margin(0,0);

        list-style: none;

        @include main-text("", 5vw, "Verdana, Geneva, Tahoma, sans-serif", 1.5, "", 1.4vw);

        @media screen and (min-width: 650px) {
            z-index: 2;
            height: 17vw;
            background-color: $bg-calc-color;
            overflow-y: auto;
        }
    }

    &__item {
        &:last-child {
            margin-bottom: 0;
        }

        position: relative;
        left: -9999px;
        padding-right: 1vw;
        padding-left: 4vw;
        border: 2px solid purple;
        margin: 0;
        margin-bottom: 1.5vw;
        background-color: white;
        transition: left 0.6s ease, background-color 0.4s linear, text-shadow 0.4s linear, right 1s;

        &::before {
            content: "💾";
        }

        &:hover {
            background-color: yellow;
            text-shadow: 3px 3px rgb(255, 255, 255);
        }

        @media screen and (min-width: 650px) {
            width: 14vw;
            height: 14vw;
            padding-left: 1vw;
            overflow-y: auto;
        }
    }

    @media screen and (min-width: 650px) {
        position: fixed;
        top: 0;
        right: -12vw;
    
        &:hover {
            right: 0;
        }
    }
    
}

.animated-text {
    animation: ta 1s ease-in-out;
}

@keyframes ta {
    0% {
        transform: translateX(0);
    }
}
