<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Узнайте, как использовать онлайн калькулятор ITsCalc для вычисления математических операций. От арифметики до сложных выражений и функций.">
    <meta name="keywords"
        content="использование калькулятора, вычисления, арифметика, математические функции, ITsCalc, онлайн калькулятор">
    <title>Использование калькулятора | ITsCalc</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="../styles/app.css">
</head>

<body class="page page_mobile-back">
    <header class="header">
        <img class="logo" src="../images/hat2.jpg" alt="Калькулятор серый">
    </header>
    <div class="page__wide-screen">
        <nav class="navbar small-hor-sidebar">
            <ul class="navbar__nav-list small-hor-sidebar__nav-list">
                <li class="navbar__item"><a
                        class="navbar__link small-hor-sidebar__link small-hor-sidebar__link_underscore_index"
                        href="index.html">Калькулятор</a></li>
                <li class="navbar__item"><a
                        class="navbar__link small-hor-sidebar__link navbar__link_underscore_using navbar__link_active small-hor-sidebar__link_underscore_using"
                        href="using.html">Использование</a></li>
                <li class="navbar__item"><a
                        class="navbar__link small-hor-sidebar__link navbar__link_underscore_using small-hor-sidebar__link_underscore_using"
                        href="about.html">Проект</a></li>
            </ul>
        </nav>
        <main class="main-block">
            <section class="info">
                <header>
                    <div class="intro main-text">
                        <h1 class="intro__text">Как пользоваться калькулятором?</h1>
                        <p class="intro__text">Этот калькулятор предназначен для вычисления различных выражений - от
                            <em>базовых арифметических операций</em> до сложных выражений <em>скобочной
                                последовательности</em> и
                            <em>различными функциями</em>, такими как возведение в степень, вычисление факториала,
                            взятие логарифма и пр.
                            <br>Нажав на некоторые функции и операции можно перейти на страницу википедии с подробной
                            информацией.
                        </p>
                    </div>
                    <nav class="inner-nav border-animate">
                        <ul class="inner-nav__list">
                            <li class="inner-nav__item" data-target="video-using">Использование</li>
                            <li class="inner-nav__item" data-target="math-guide">Операнды</li>
                            <abbr id="faq-def" title="Вопросы и ответы">
                                <li class="inner-nav__item" data-target="FAQ">FAQ</li>
                            </abbr>
                        </ul>
                    </nav>
                </header>
                <div class="video-container">
                    <div class="loader">
                        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                        <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px"
                            viewBox="0 0 128 128" xml:space="preserve">
                            <g>
                                <circle cx="16" cy="64" r="16" fill="#d40000" />
                                <circle cx="16" cy="64" r="16" fill="#e25555" transform="rotate(45,64,64)" />
                                <circle cx="16" cy="64" r="16" fill="#ed9494" transform="rotate(90,64,64)" />
                                <circle cx="16" cy="64" r="16" fill="#f6cccc" transform="rotate(135,64,64)" />
                                <circle cx="16" cy="64" r="16" fill="#fae1e1" transform="rotate(180,64,64)" />
                                <circle cx="16" cy="64" r="16" fill="#fae1e1" transform="rotate(225,64,64)" />
                                <circle cx="16" cy="64" r="16" fill="#fae1e1" transform="rotate(270,64,64)" />
                                <circle cx="16" cy="64" r="16" fill="#fae1e1" transform="rotate(315,64,64)" />
                                <animateTransform attributeName="transform" type="rotate"
                                    values="0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64"
                                    calcMode="discrete" dur="720ms" repeatCount="indefinite"></animateTransform>
                            </g>
                        </svg>
                    </div>
                    <video class="video-using" loop muted onClick="playPause();">
                        Не удалось загрузить видео
                    </video>
                </div>


                <section class="math-guide">
                    <h2 class="math-guide__head">Операторы</h2>
                    <section class="math-operators">
                        <h3 class="math-operators__head">Арифметические операторы
                        </h3>
                        <ul class="math-operators__list">
                            <li class="math-operators__item"><span class="math-operators__op">+</span> Сложение.
                                <br>Пример: 2 + 3 = 5
                            </li>
                            <li class="math-operators__item"><span class="math-operators__op">-</span> Вычитание.
                                <br>Пример: 7 - 4 = 3
                            </li>
                            <li class="math-operators__item"><span class="math-operators__op">*</span> Умножение.
                                <br>Пример: 5 * 6 = 30
                            </li>
                            <li class="math-operators__item"><span class="math-operators__op">/</span> Деление.
                                <br>Пример: 10 / 2 = 5
                            </li>
                            <li class="math-operators__item"><span class="math-operators__op"><a
                                        class="math-operators__ref" rel="nofollow"
                                        href="https://ru.wikipedia.org/wiki/Деление_с_остатком">%</a></span>
                                Взятие
                                остатка от
                                деления. <br>Пример: 8 % 3 = 2</li>
                            <li class="math-operators__item"><span class="math-operators__op"><a
                                        class="math-operators__ref" rel="nofollow"
                                        href="https://ru.wikipedia.org/wiki/Возведение_в_степень">x<sup>y</sup></a></span>
                                Возведение числа x в степень y. <br>Пример: 2<sup>3</sup> = 8</li>
                            <li class="math-operators__item"><span class="math-operators__op">x<sup>3</sup></span>
                                Возведение числа x в куб. <br>Пример: 2<sup>3</sup> = 8</li>
                            <li class="math-operators__item"><span class="math-operators__op">x<sup>2</sup></span>
                                Возведение числа x в квадрат. <br>Пример: 4<sup>2</sup> = 16</li>
                            <li class="math-operators__item"><span class="math-operators__op">10<sup>x</sup></span>
                                Возведение числа 10 в степень x. <br>Пример: 10<sup>2</sup> = 100</li>
                            <li class="math-operators__item"><span class="math-operators__op"><a
                                        class="math-operators__ref" rel="nofollow"
                                        href="https://ru.wikipedia.org/wiki/Факториал">x!</a></span>
                                Факториал числа
                                x (произведение всех положительных целых чисел от 1 до x). <br>Пример: 5! = 120</li>
                            <li class="math-operators__item"><span class="math-operators__op"><a
                                        class="math-operators__ref" rel="nofollow"
                                        href="https://ru.wikipedia.org/wiki/Квадратный_корень">sqrt</a></span>
                                Квадратный
                                корень числа. <br>Пример: sqrt(25) = 5</li>
                        </ul>
    </div>
    <section class="math-operators">
        <h3 class="math-operators__head">Логарифмические операторы</h3>
        <ul class="math-operators__list">
            <li class="math-operators__item"><span class="math-operators__op"><a class="math-operators__ref"
                        rel="nofollow" href="https://ru.wikipedia.org/wiki/Десятичный_логарифм">lg</a></span>
                Десятичный
                логарифм. <br>Пример: lg(100) = 2</li>
            <li class="math-operators__item"><span class="math-operators__op"><a class="math-operators__ref"
                        rel="nofollow" href="https://ru.wikipedia.org/wiki/Натуральный_логарифм">ln</a></span>
                Натуральный
                логарифм (логарифм по основанию e). <br>Пример: ln(e) = 1</li>
        </ul>
        </div>
        <section class="math-operators">
            <h3 class="math-operators__head">Другие операторы</h3>
            <ul class="math-operators__list">
                <li class="math-operators__item"><span class="math-operators__op">(</span> Открывающая
                    скобка. Используется для группировки выражений. <br>Пример: (2 + 3) * 4 = 20</li>
                <li class="math-operators__item"><span class="math-operators__op">)</span> Закрывающая
                    скобка.</li>
                <li class="math-operators__item"><span class="math-operators__op">=</span> Оператор
                    равенства. <br>Пример: 5 + 5 = 10</li>
                <li class="math-operators__item"><span class="math-operators__op">C</span> Очистка <strong>всех
                        данных</strong> калькулятора.</li>
                <li class="math-operators__item"><span class="math-operators__op">&larr;</span> Удаление
                    <strong>последнего символа</strong> ввода.
                </li>
            </ul>

            <div class="math-operators__other">
                <p class="math-operators__pi">Помимо перечисленных операторов, вы также можете использовать
                    константу <span span class="math-operators__op"><a class="math-operators__ref" rel="nofollow"
                            href="https://ru.wikipedia.org/wiki/Пи_(число)">&pi;</a></span>,
                    представляющую
                    число
                    ПИ(~3.14).</p>
            </div>
            </div>
        </section>
    </section>
    <section class="FAQ border-animate">
        <h2 class="FAQ__head">Вопросы и ответы</h2>
        <div class="FAQ__question">
            <h3 class="FAQ__q-head">Не совсем понятно, как работают функции у калькулятора.
            </h3>
            <div class="FAQ__answer">
                <p>Некоторые функции являются:</p>
                <dl>
                    <dt><dfn>"левосторонними"</dfn></dt>
                    <dd>применяются к выражению, стоящему слева(до
                        применения функции)</dd>
                    <dt><dfn>"правосторонними"</dfn></dt>
                    <dd>к выражению
                        справа(т.е после применения функции).</dd>
                    <p>Например - возведение в степень ^ — левостороннее, а
                        взятие корня sqrt — правостороннее.</p>
                </dl>
            </div>
        </div>

        <div class="FAQ__question">
            <h3 class="FAQ__q-head">Будет ли калькулятор развиваться? Стоит ли ожидать появления больших
                возможностей,
                например тригонометрии?</h3>
            <div class="FAQ__answer">
                <p class="FAQ__answer-para">Да, такое в планах есть.</p>
            </div>
        </div>

        <div class="FAQ__question">
            <h3 class="FAQ__q-head">Почему у калькулятора только один экран, а не два?</h3>
            <div class="FAQ__answer">
                <p class="FAQ__answer-para">Концепция двух экранов сложнее в реализации, поэтому возможно
                    появится позже.</p>
            </div>
        </div>

        <div class="FAQ__question">
            <h3 class="FAQ__q-head">Как связаться по каким-либо вопросам с создателем сайта?</h3>
            <div class="FAQ__answer">
                <p class="FAQ__answer-para">В футере, нижней части сайта, есть все необходимые ссылки.</p>
            </div>
        </div>
    </section>
    </main>
    </div>
    <footer class="footer">@designed by B-S-B-Rabbit
        <div class="contacts-wrapper">
            <a href="https://github.com/B-S-B-Rabbit"><img class="contacts-wrapper__item" src="../images/github.png"
                    alt="Профиль GitHub B-S-B-Rabbit"></a>
            <a href="https://vk.com/d_danvers"><img class="contacts-wrapper__item" src="../images/vk2.png"
                    alt="Профиль VK d_danvers"></a>
            <!-- <a href=""><img class="contacts-wrapper__item" src="images/email.png" alt="Написать письмо"></a>   -->
        </div>
    </footer>
</body>

</html>