* {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100vh;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

@font-face {
  font-family: 'Calculator';
  src: url(../fonts/digital-7.ttf);
}
@font-face {
  font-family: 'Calculator';
  font-style: italic;
  src: url(../fonts/digital-7-italic.ttf);
}
@font-face {
  font-family: 'Comfortaa';
  src: url(../fonts/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Versus';
  src: url(../fonts/versus.otf);
}
.calculator {
  max-width: 100%;
  border: 3px solid;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin: 0.25rem;
}
@media screen and (min-width: 650px) {
  .calculator {
    max-width: 50%;
  }
}
.calculator__form-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.calculator__keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.calculator__form-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
.calculator__fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 0 3px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
}
.calculator__inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}
.calculator label, .calculator legend {
  display: none;
}
.calculator__screen {
  min-width: 0;
  max-width: 100%;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100px;
  font-family: Calculator, sans-serif;
  padding: 0.5vw 0.5vw 0.5vw 0;
  font-size: 20vw;
  height: auto;
  line-height: 1.33;
  text-align: right;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd00;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  overflow: scroll;
}
.calculator__screen::-webkit-input-placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
.calculator__screen:-ms-input-placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
.calculator__screen::-ms-input-placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
.calculator__screen::placeholder {
  color: #212529;
  opacity: 0.7;
  overflow: visible;
}
@media screen and (min-width: 650px) {
  .calculator__screen {
    padding: 1.2vw 0.2vw 1.2vw 0;
    font-size: 4.6vw;
    height: 7vw;
  }
}
.calculator__data-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: row;
  gap: 1.5vw;
}
@media screen and (min-width: 650px) {
  .calculator__data-buttons {
    gap: 0.8vw;
  }
}
.calculator__btn {
  border: 0;
  border-radius: 4px;
  background: #ffffff;
  color: #212529;
  padding: 2vw 2vw;
  font-size: 8vw;
  font-family: Calculator, sans-serif;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.226);
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.226);
  cursor: pointer;
}
.calculator__btn:hover {
  background: rgba(192, 192, 177, 0.664);
}
.calculator__btn:active {
  text-shadow: 0.2rem 0.4rem 0.4px rgba(33, 37, 41, 0.2);
  -webkit-box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5);
          box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5);
}
@media screen and (min-width: 650px) {
  .calculator__btn {
    padding: 0.2vw 0.2vw;
    font-size: 3vw;
  }
}

.calc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  color: #333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calculator__btn_type_bc, .calculator__btn_type_C {
  font-size: 11vw;
}
@media screen and (min-width: 650px) {
  .calculator__btn_type_bc, .calculator__btn_type_C {
    font-size: 4vw;
  }
}

.calculator__btn_type_bc {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

.calculator__btn_type_C {
  grid-row: 1 / span 1;
  grid-column: 4 / span 2;
}

.calculator__btn_type_sqrt, .calculator__btn_type_pm, .calculator__btn_type_pi, .calculator__btn_type_log, .calculator__btn_type_ln {
  grid-row: 2 / span 1;
}

.calculator__btn_not-digit {
  background: #5f5f5f;
  color: #f6f7ec;
}
.calculator__btn_not-digit:hover {
  background: #1f1f1e;
}
.calculator__btn_not-digit:active {
  text-shadow: 0.2rem 0.4rem 0.4px rgba(243, 241, 148, 0.2);
  -webkit-box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5);
          box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5);
}

.calculator__btn_type_eq {
  grid-column: 4 / span 2;
  background: #02203bbb;
  color: white;
}

.calculator__btn_color-back_red {
  background: rgba(187, 6, 6, 0.753);
}

.js-keytapped-white {
  background: rgba(192, 192, 177, 0.664) !important;
  text-shadow: 0.2rem 0.4rem 0.4px rgba(33, 37, 41, 0.2) !important;
  -webkit-box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5) !important;
          box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5) !important;
}

.js-keytapped-others {
  background: #1f1f1e !important;
  text-shadow: 0.2rem 0.4rem 0.4px rgba(243, 241, 148, 0.2) !important;
  -webkit-box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5) !important;
          box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5) !important;
}

.inner-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70vh;
  background-color: black;
  font-size: 5vw;
  font-family: Roboto, sans-serif;
  line-height: 2;
  color: white;
}
@media screen and (min-width: 650px) {
  .inner-nav {
    font-size: 2vw;
  }
}
.inner-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  margin-top: 1vw;
  margin-bottom: 1vw;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.inner-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.inner-nav__item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.inner-nav__item:hover::before {
  width: 100%;
}

.FAQ {
  margin: 0 auto;
  margin-bottom: 30vh;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 3vw;
  font-family: Roboto, sans-serif;
  line-height: 1.33;
  color: black;
}
@media screen and (min-width: 650px) {
  .FAQ {
    font-size: 1.4vw;
  }
}
.FAQ__head {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
}
.FAQ__q-head {
  cursor: pointer;
  margin: 0;
  background-color: #f0f0f0;
  padding: 10px;
}
.FAQ__question {
  margin-top: 1vw;
}
.FAQ__answer {
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  background-color: #cecece;
  font-size: 4vw;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}
@media screen and (min-width: 650px) {
  .FAQ__answer {
    font-size: 1.4vw;
  }
}
@media screen and (min-width: 650px) {
  .FAQ {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.border-animate {
  border: 5px solid transparent;
  -o-border-image: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#000066), color-stop(#000099), color-stop(#0066cc), color-stop(#0099ff), color-stop(#0066cc), color-stop(#000099), to(#000066)) 1;
     border-image: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066) 1;
  border-image-slice: 1;
  -webkit-animation: borderAnimation 8s linear infinite;
          animation: borderAnimation 8s linear infinite;
}
@-webkit-keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066);
  }
  25% {
    border-image-source: linear-gradient(90deg, #0099ff, #0066cc, #000099, #000066, #0066cc, #0099ff, #0099ff);
  }
  50% {
    border-image-source: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066);
  }
  75% {
    border-image-source: linear-gradient(90deg, #0099ff, #0066cc, #000099, #000066, #0066cc, #0099ff, #0099ff);
  }
  100% {
    border-image-source: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066);
  }
}
@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066);
  }
  25% {
    border-image-source: linear-gradient(90deg, #0099ff, #0066cc, #000099, #000066, #0066cc, #0099ff, #0099ff);
  }
  50% {
    border-image-source: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066);
  }
  75% {
    border-image-source: linear-gradient(90deg, #0099ff, #0066cc, #000099, #000066, #0066cc, #0099ff, #0099ff);
  }
  100% {
    border-image-source: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066);
  }
}
.video-using {
  width: auto;
  height: auto;
  margin-bottom: 30vh;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

.intro__text {
  text-align: center;
  padding: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgba(0, 0, 0, 0);
  font-size: 5vw;
  font-family: Roboto, sans-serif;
  line-height: 2;
  color: white;
}
@media screen and (min-width: 650px) {
  .intro__text {
    font-size: 2vw;
  }
}

.page {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  background-color: #a8a6a6;
  padding: 0;
  margin: 0;
}

.page_back_animation {
  background: -webkit-gradient(linear, left top, right top, from(#242323), color-stop(19%, #424242), color-stop(40%, #868686), color-stop(60%, #b4b4b4), color-stop(83%, #d4d4d4), to(#242323));
  background: linear-gradient(to right, #242323 0%, #424242 19%, #868686 40%, #b4b4b4 60%, #d4d4d4 83%, #242323 100%);
  background-size: 10000px 100%;
  -webkit-animation: bg 15s linear infinite;
          animation: bg 15s linear infinite;
}

@-webkit-keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
.page {
  min-width: 272px;
  font-family: 'Georgia', serif;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.page__wide-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media screen and (min-width: 650px) {
  .page__wide-screen {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page_mobile-back {
  background-image: url(../images/uphone.jpg);
  background-repeat: repeat;
  background-size: cover;
}
@media screen and (min-width: 650px) {
  .page_mobile-back {
    background-image: url(../images/desk.jpg);
  }
}

.background-parallax {
  background-attachment: fixed;
}

.header {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.logo {
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar {
  font-family: Comfortaa, sans-serif;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 5vw;
  padding: 1rem;
}
.navbar__link:hover {
  background-color: rgba(47, 202, 230, 0.2);
}
.navbar__link_active {
  color: #2fcae6;
}
@media screen and (min-width: 650px) {
  .navbar {
    position: relative;
    left: -1.5%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    overflow-x: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 3vw 3vw 0;
  }
  .navbar:hover {
    left: 0;
  }
  .navbar:hover .navbar__link {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: white;
  }
  .navbar:hover .navbar__link_active {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #2fcae6;
  }
  .navbar__link {
    color: rgba(0, 0, 0, 0);
  }
  .navbar__link_underscore_index:hover {
    border-radius: 0 3vw 0 0;
  }
  .navbar__link_underscore_using:hover {
    border-radius: 0 0 3vw 0;
  }
  .navbar__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__link {
    font-size: 1.7vw;
  }
}

.small-hor-sidebar {
  z-index: 1;
}
@media screen and (min-width: 650px) {
  .small-hor-sidebar {
    position: fixed;
    top: 0;
    left: -15%;
    -webkit-transition: left 0.6s ease;
    transition: left 0.6s ease;
    line-height: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: linear-gradient(white, black);
  }
  .small-hor-sidebar__link {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  .small-hor-sidebar:hover .navbar__link {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #1b1b1b;
  }
  .small-hor-sidebar:hover .navbar__link_active {
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #2fcae6;
  }
  .small-hor-sidebar__nav-list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-orientation: horizontal-tb;
  }
  .small-hor-sidebar__link_underscore_index:hover {
    color: red !important;
  }
  .small-hor-sidebar__link_underscore_using:hover {
    color: red !important;
  }
}

.footer {
  background-color: rgba(243, 241, 148, 0.849);
  padding: 0.5rem;
  font-size: 5vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media screen and (min-width: 650px) {
  .footer {
    font-size: 1.4vw;
  }
}

.math-operators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30vh;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 5vw;
  font-family: Roboto, sans-serif;
  line-height: 2;
  color: white;
}
@media screen and (min-width: 650px) {
  .math-operators {
    font-size: 2vw;
  }
}
.math-operators__op {
  line-height: 1.33;
  font-size: 6vw;
  padding: 1vw;
  font-family: Calculator, sans-serif;
  color: #fcae08;
  background: linear-gradient(45deg, #3358ff, #046c74);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.2s, font-size 0.2s;
  transition: background-color 0.2s, font-size 0.2s;
  margin-bottom: 1vw;
  margin-top: 1vw;
}
@media screen and (min-width: 650px) {
  .math-operators__op {
    font-size: 4vw;
  }
}
.math-operators__op:hover {
  background-color: #333;
  font-size: 7vw;
}
@media screen and (min-width: 650px) {
  .math-operators__op:hover {
    font-size: 5vw;
  }
}
.math-operators__other {
  line-height: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.math-operators__list, .math-operators__other {
  background-color: black;
  list-style-type: none;
  -webkit-padding-start: 1.2vw;
     -moz-padding-start: 1.2vw;
          padding-inline-start: 1.2vw;
}
.math-operators__head {
  font-family: Versus, sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  font-size: 7vw;
}
@media screen and (min-width: 650px) {
  .math-operators__head {
    font-size: 4vw;
  }
}
.math-operators__ref {
  text-decoration: none;
  cursor: pointer;
}
.math-operators__ref:visited {
  color: #fcae08;
}

.main-block {
  max-width: 100%;
}

.info {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*# sourceMappingURL=app.css.map */