@import "pages/_home.scss";
.page_mobile-back {
    background-image: url(../images/uphone.jpg);
    background-repeat: repeat;
    background-attachment: fixed; /* Зафиксировать фон */
    background-size: cover; /* Заполнить фон */
    @media screen and (min-width: 650px) {
        background-image: url(../images/desk.jpg);
    }
}

.main-block {
    max-width: 100%;
}
.info {
    @include padding-margin(0,0);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.sidebar-using {
    z-index: 1;
    @media screen and (min-width: 650px) {
        position: fixed;
    top:0;
    left: -15%;
    transition: left 0.6s ease; 
    line-height: 2;
    background: linear-gradient(white,black);
    &__link {
        text-decoration: none;
        background-color: rgba(0,0,0,0) !important;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
    &:hover {
        .navbar__link { 
            transition: color 0.3s ease;
            color: rgb(27, 27, 27);
        }
        .navbar__link_active { 
            transition: color 0.3s ease;
            color: $nav-link-active-color;
        }
    }
    &__nav-list {
        flex-direction: column !important;
        writing-mode:horizontal-tb;
        text-orientation:horizontal-tb;
    }
    &__link_underscore_index {
        &:hover {
            color: red !important;
        }
    }
    &__link_underscore_using {
        &:hover {
            color: red !important;
        }
    }
    }
    
}
.intro {
    display: flex;
    background-color: rgb(0,0,0);
}
.intro__text {
    text-align: center;
    padding: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    @include main-text(rgba(0,0,0,0), 5vw, Roboto, 2, rgb(255,255,255), 2vw);
}

.inner-nav {
    display: flex;
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 70vh;
    @include main-text(rgb(0,0,0), 5vw, Roboto, 2, rgb(255,255,255), 2vw);

    
    &__list {
        display: flex;
        padding: 0;
        width: 100%;
        margin-top: 1vw;
        margin-bottom: 1vw;
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
    }

    &__item {
        display: flex;
        position: relative;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background-color: white;
            bottom: 0;
            left: 0;
            transition: width 0.3s;
        }

        &:hover::before {
            width: 100%;
        }
    }
}
.video-using {
    width: auto;
    height: auto;
    margin-bottom: 30vh;
}
.math-operators {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30vh;
    padding: 0 ;
    @include main-text(rgba(0,0,0,0), 5vw, Roboto, 2, rgb(255,255,255), 2vw);
    &__op {
        line-height:1.33;
        font-size: 6vw;
        padding: 1vw;
        font-family: Calculator, sans-serif;
        color: rgb(252, 174, 8);
        background: linear-gradient(45deg, #3358ff, #046c74);
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s, font-size 0.2s;
        margin-bottom: 1vw;
        margin-top: 1vw;
        @media screen and (min-width: 650px) {
            font-size: 4vw;
        }
    }
    
    &__op:hover {
        background-color: #333;
        font-size: 7vw;
        @media screen and (min-width: 650px) {
            font-size: 5vw;
        }
    }
    &__other {
        line-height:initial;
        align-items: center;
        justify-content: center;
    }
    &__pi {
        margin-left: 3vw;
    }
    &__list, &__other {
        background-color: rgb(0, 0, 0);
        list-style-type: none;
    }
    &__head {
        font-family: Versus, sans-serif;
        display: inline-flex;
        text-align: center;
        font-size: 7vw;
        @media screen and (min-width: 650px) {
            font-size: 4vw;
        }
    }
    &__ref {
        text-decoration: none;
        cursor: pointer;
        &:visited {
            color: rgb(252, 174, 8);
        }
    }
}


.FAQ {
    margin: 0 auto;
    margin-bottom: 30vh;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    @include main-text(rgba(0,0,0,0), 5vw, Roboto, 2, rgb(0, 0, 0), 1.4vw);
&__head{
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
}
&__q-head {
    cursor: pointer;
    margin: 0;
    background-color: #f0f0f0;
    padding: 10px;
}
&__question {
    margin-top: 1vw;
}
&__answer {
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    background-color: #cecece;
    font-size: 5vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    @media screen and (min-width: 650px) {
        font-size: 1.4vw;
    }

}
    @media screen and (min-width: 650px) {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.border-animate {
    border: 5px solid transparent;
    border-image: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066) 1;
    border-image-slice: 1;
    animation: borderAnimation 8s linear infinite;


@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066);
    }
    25% {
        border-image-source: linear-gradient(90deg, #0099ff, #0066cc, #000099, #000066, #0066cc, #0099ff, #0099ff);
    }
    50% {
        border-image-source: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066);
    }
    75% {
        border-image-source: linear-gradient(90deg, #0099ff, #0066cc, #000099, #000066, #0066cc, #0099ff, #0099ff);
    }
    100% {
        border-image-source: linear-gradient(90deg, #000066, #000099, #0066cc, #0099ff, #0066cc, #000099, #000066);
    }
}
}