* {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100vh;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

@font-face {
  font-family: Calculator;
  src: url("../fonts/digital-7.ttf");
}
@font-face {
  font-family: Calculator;
  font-style: italic;
  src: url("../fonts/digital-7-italic.ttf");
}
@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Versus;
  src: url("../fonts/versus.otf");
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf");
}
@font-face {
  font-family: Cunia;
  src: url("../fonts/cunia.otf");
}
.calculator {
  padding: 0.25rem;
  margin: 0.25rem;
  max-width: 100%;
  border: 3px solid;
  border-radius: 0.5rem;
}
@media screen and (min-width: 650px) {
  .calculator {
    max-width: 50%;
  }
}
.calculator__form-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.calculator__keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.calculator__fieldset {
  padding: 0;
  margin: 0 0 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: none;
}
.calculator__inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.calculator label, .calculator legend {
  display: none;
}
.calculator__screen {
  display: block;
  overflow: scroll;
  width: 100px;
  min-width: 0;
  max-width: 100%;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5vw 0.5vw 0.5vw 0;
  border: 1px solid #bdbdbd00;
  border-radius: 0.25rem;
  background-clip: padding-box;
  background-color: #fff;
  color: #212529;
  font-family: Calculator, sans-serif;
  font-size: 20vw;
  line-height: 1.33;
  text-align: right;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media screen and (min-width: 650px) {
  .calculator__screen {
    height: 7vw;
    padding: 1.2vw 0.2vw 1.2vw 0;
    font-size: 4.6vw;
  }
}
.calculator__screen::-webkit-input-placeholder {
  overflow: visible;
  color: #212529;
  opacity: 0.7;
}
.calculator__screen:-ms-input-placeholder {
  overflow: visible;
  color: #212529;
  opacity: 0.7;
}
.calculator__screen::-ms-input-placeholder {
  overflow: visible;
  color: #212529;
  opacity: 0.7;
}
.calculator__screen::placeholder {
  overflow: visible;
  color: #212529;
  opacity: 0.7;
}
.calculator__data-buttons {
  display: grid;
  gap: 1.5vw;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
@media screen and (min-width: 650px) {
  .calculator__data-buttons {
    gap: 0.8vw;
  }
}
.calculator__btn {
  padding: 2vw;
  border: 0;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.226);
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.226);
  color: #212529;
  cursor: pointer;
  font-family: Calculator, sans-serif;
  font-size: 8vw;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media screen and (min-width: 650px) {
  .calculator__btn {
    padding: 0.2vw;
    font-size: 3vw;
  }
}
.calculator__btn:hover {
  background: rgba(192, 192, 177, 0.664);
}
.calculator__btn:active {
  -webkit-box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5);
          box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5);
  text-shadow: 0.2rem 0.4rem 0.4px rgba(33, 37, 41, 0.2);
}

.calc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333;
}

.calculator__btn_type_bc, .calculator__btn_type_C {
  font-size: 11vw;
}
@media screen and (min-width: 650px) {
  .calculator__btn_type_bc, .calculator__btn_type_C {
    font-size: 4vw;
  }
}

.calculator__btn_type_bc {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

.calculator__btn_type_C {
  grid-column: 4 / span 2;
  grid-row: 1 / span 1;
}

.calculator__btn_type_sqrt, .calculator__btn_type_pm, .calculator__btn_type_pi, .calculator__btn_type_log, .calculator__btn_type_ln {
  grid-row: 2 / span 1;
}

.calculator__btn_not-digit {
  background: #5f5f5f;
  color: #f6f7ec;
}
.calculator__btn_not-digit:hover {
  background: #1f1f1e;
}
.calculator__btn_not-digit:active {
  -webkit-box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5);
          box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5);
  text-shadow: 0.2rem 0.4rem 0.4px rgba(243, 241, 148, 0.2);
}

.calculator__btn_type_eq {
  background: #02203bbb;
  color: white;
  grid-column: 4 / span 2;
}

.calculator__btn_color-back_red {
  background: rgba(187, 6, 6, 0.753);
}

.js-keytapped-white {
  background: rgba(192, 192, 177, 0.664) !important;
  -webkit-box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5) !important;
          box-shadow: inset 2px 6px 12px rgba(33, 37, 41, 0.5) !important;
  text-shadow: 0.2rem 0.4rem 0.4px rgba(33, 37, 41, 0.2) !important;
}

.js-keytapped-others {
  background: #1f1f1e !important;
  -webkit-box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5) !important;
          box-shadow: inset 2px 6px 12px rgba(97, 96, 96, 0.5) !important;
  text-shadow: 0.2rem 0.4rem 0.4px rgba(243, 241, 148, 0.2) !important;
}

.inner-nav {
  background-color: black;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 5vw;
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 70vh;
}
@media screen and (min-width: 650px) {
  .inner-nav {
    font-size: 2vw;
  }
}
.inner-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  margin-top: 1vw;
  margin-bottom: 1vw;
  list-style-type: none;
}
.inner-nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.inner-nav__item::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  content: "";
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.inner-nav__item:hover::before {
  width: 100%;
}

.FAQ {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 3vw;
  line-height: 1.33;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30vh;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 650px) {
  .FAQ {
    font-size: 1.4vw;
  }
}
@media screen and (min-width: 650px) {
  .FAQ {
    margin-right: 10%;
    margin-left: 10%;
  }
}
.FAQ__head {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
}
.FAQ__q-head {
  padding: 10px;
  margin: 0;
  background-color: #f0f0f0;
  cursor: pointer;
}
.FAQ__question {
  margin-top: 1vw;
}
.FAQ__answer {
  overflow: hidden;
  max-height: 0;
  padding-right: 1.5vw;
  padding-left: 1.5vw;
  background-color: #cecece;
  font-size: 4vw;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}
@media screen and (min-width: 650px) {
  .FAQ__answer {
    font-size: 1.4vw;
  }
}

.border-animate {
  border: 5px solid transparent;
  -webkit-animation: border-animation 8s linear infinite;
          animation: border-animation 8s linear infinite;
  -o-border-image: linear-gradient(90deg, #006, #009, #06c, #09f, #06c, #009, #006) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#006), color-stop(#009), color-stop(#06c), color-stop(#09f), color-stop(#06c), color-stop(#009), to(#006)) 1;
     border-image: linear-gradient(90deg, #006, #009, #06c, #09f, #06c, #009, #006) 1;
  border-image-slice: 1;
}
@-webkit-keyframes border-animation {
  0% {
    border-image-source: linear-gradient(90deg, #006, #009, #06c, #09f, #06c, #009, #006);
  }
  25% {
    border-image-source: linear-gradient(90deg, #09f, #06c, #009, #006, #06c, #09f, #09f);
  }
  50% {
    border-image-source: linear-gradient(90deg, #006, #009, #06c, #09f, #06c, #009, #006);
  }
  75% {
    border-image-source: linear-gradient(90deg, #09f, #06c, #009, #006, #06c, #09f, #09f);
  }
  100% {
    border-image-source: linear-gradient(90deg, #006, #009, #06c, #09f, #06c, #009, #006);
  }
}
@keyframes border-animation {
  0% {
    border-image-source: linear-gradient(90deg, #006, #009, #06c, #09f, #06c, #009, #006);
  }
  25% {
    border-image-source: linear-gradient(90deg, #09f, #06c, #009, #006, #06c, #09f, #09f);
  }
  50% {
    border-image-source: linear-gradient(90deg, #006, #009, #06c, #09f, #06c, #009, #006);
  }
  75% {
    border-image-source: linear-gradient(90deg, #09f, #06c, #009, #006, #06c, #09f, #09f);
  }
  100% {
    border-image-source: linear-gradient(90deg, #006, #009, #06c, #09f, #06c, #009, #006);
  }
}
.video-using {
  width: 100%;
  height: 100%;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

.intro__text {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 5vw;
  line-height: 2;
  padding: 0;
  padding-right: 2vw;
  padding-left: 2vw;
  text-align: center;
}
@media screen and (min-width: 650px) {
  .intro__text {
    font-size: 2vw;
  }
}

.page {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden auto !important;
  min-width: 272px;
  height: 100%;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #cccbcb;
  color: #000;
  font-family: Georgia, serif;
}

.page_back_animation {
  -webkit-animation: bg 15s linear infinite;
          animation: bg 15s linear infinite;
  background: -webkit-gradient(linear, left top, right top, from(#242323), color-stop(19%, #424242), color-stop(40%, #868686), color-stop(60%, #b4b4b4), color-stop(83%, #d4d4d4), to(#242323));
  background: linear-gradient(to right, #242323 0%, #424242 19%, #868686 40%, #b4b4b4 60%, #d4d4d4 83%, #242323 100%);
  background-size: 10000px 100%;
}

@-webkit-keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}
.page__wide-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 650px) {
  .page__wide-screen {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page_mobile-back {
  background-image: url("../images/uphone.jpg");
  background-repeat: repeat;
  background-size: cover;
}
@media screen and (min-width: 650px) {
  .page_mobile-back {
    background-image: url("../images/desk.jpg");
  }
}

.background-parallax {
  background-attachment: fixed;
}

.header {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.logo {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  font-family: Comfortaa, sans-serif;
}
.navbar__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
}
.navbar__link {
  padding: 0.6rem;
  color: #fff;
  font-size: 4vw;
  text-decoration: none;
}
.navbar__link:hover {
  background-color: rgba(47, 202, 230, 0.2);
}
.navbar__link_active {
  color: #2fcae6;
}
@media screen and (min-width: 650px) {
  .navbar {
    position: relative;
    left: -1.5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 3vw 3vw 0;
    overflow-x: hidden;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  .navbar__link {
    padding: 1rem;
    padding-right: 100%;
    padding-left: 100%;
    color: rgba(0, 0, 0, 0);
    font-size: 1.7vw;
  }
  .navbar:hover {
    left: 0;
  }
  .navbar:hover .navbar__link {
    color: white;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .navbar:hover .navbar__link_active {
    color: #2fcae6;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .navbar__link_underscore_top:hover {
    border-radius: 0 3vw 0 0;
  }
  .navbar__link_underscore_bot:hover {
    border-radius: 0 0 3vw;
  }
  .navbar__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-orientation: upright;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
  }
}

.small-hor-sidebar {
  z-index: 1;
}
@media screen and (min-width: 650px) {
  .small-hor-sidebar {
    position: fixed;
    top: 0;
    left: -15%;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#031996));
    background: linear-gradient(white, #031996);
    line-height: 2;
    -webkit-transition: left 0.6s ease;
    transition: left 0.6s ease;
  }
  .small-hor-sidebar__link {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
  }
  .small-hor-sidebar:hover .navbar__link {
    color: black;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .small-hor-sidebar:hover .navbar__link_active {
    color: #2fcae6;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  .small-hor-sidebar__nav-list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    text-orientation: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  .small-hor-sidebar__link_underscore_index:hover {
    color: red !important;
  }
  .small-hor-sidebar__link_underscore_using:hover {
    color: red !important;
  }
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0.5rem;
  background-color: rgba(243, 241, 148, 0.849);
  font-size: 5vw;
}
@media screen and (min-width: 650px) {
  .footer {
    font-size: 1.4vw;
  }
}

.math-operators {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 5vw;
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 30vh;
}
@media screen and (min-width: 650px) {
  .math-operators {
    font-size: 2vw;
  }
}
.math-operators__op {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1vw;
  border-radius: 4px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  background: linear-gradient(45deg, #3358ff, #046c74);
  color: #fcae08;
  font-family: Calculator, sans-serif;
  font-size: 6vw;
  line-height: 1.33;
  -webkit-transition: background-color 0.2s, font-size 0.2s;
  transition: background-color 0.2s, font-size 0.2s;
}
@media screen and (min-width: 650px) {
  .math-operators__op {
    font-size: 4vw;
  }
}
.math-operators__op:hover {
  background-color: #333;
  font-size: 7vw;
}
@media screen and (min-width: 650px) {
  .math-operators__op:hover {
    font-size: 5vw;
  }
}
.math-operators__other {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: initial;
}
.math-operators__list, .math-operators__other {
  background-color: black;
  list-style-type: none;
  -webkit-padding-start: 1.2vw;
     -moz-padding-start: 1.2vw;
          padding-inline-start: 1.2vw;
}
.math-operators__head {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Versus, sans-serif;
  font-size: 7vw;
  text-align: center;
}
@media screen and (min-width: 650px) {
  .math-operators__head {
    font-size: 4vw;
  }
}
.math-operators__ref {
  cursor: pointer;
  text-decoration: none;
}
.math-operators__ref:visited {
  color: #fcae08;
}

.main-block {
  max-width: 100%;
}

.info {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-about {
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 5.5vw;
  line-height: 1.33;
  text-align: center;
}
@media screen and (min-width: 650px) {
  .main-about {
    font-size: 1.6vw;
  }
}

.job-summary__hello {
  text-align: center;
}
.job-summary__photo {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 650px) {
  .job-summary__photo {
    width: 30%;
  }
}
.job-summary__education {
  border: 4px black solid;
  border-radius: 2vw;
  margin-top: 5vw;
  margin-bottom: 6vw;
}
@media screen and (min-width: 650px) {
  .job-summary__education {
    width: 40%;
    border-radius: 1vw;
    margin: 0 auto;
    margin-top: 3vw;
  }
}
.job-summary__education-head {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-family: Versus, sans-serif;
  font-size: 7vw;
  line-height: 1.33;
}
@media screen and (min-width: 650px) {
  .job-summary__education-head {
    font-size: 3vw;
  }
}
.job-summary__education-info {
  margin: 0;
  margin-top: -5vw;
}
.job-summary__education-info_data {
  display: block;
  margin-top: 3vw;
  font-style: italic;
}
.job-summary__education-info_place {
  color: #2778f1;
  font-weight: bold;
  text-shadow: 1px 2px 3px black;
}
.job-summary__skills {
  display: block;
  border: 4px black solid;
  border-radius: 2vw;
}
@media screen and (min-width: 650px) {
  .job-summary__skills {
    width: 40%;
    border-radius: 1vw;
    margin: 0 auto;
    margin-top: 3vw;
  }
}
.job-summary__skills-list {
  margin: 0;
  margin-top: -5vw;
  list-style: none;
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
}
.job-summary__skills-head {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-family: Versus, sans-serif;
  font-size: 7vw;
  line-height: 1.33;
}
@media screen and (min-width: 650px) {
  .job-summary__skills-head {
    font-size: 3vw;
  }
}
.job-summary__skills-h {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-family: Versus, sans-serif;
  font-size: 5vw;
  line-height: 1.33;
  display: block;
  margin-top: 3vw;
}
@media screen and (min-width: 650px) {
  .job-summary__skills-h {
    font-size: 2vw;
  }
}
.job-summary__skills-item {
  padding-right: 5vw;
  padding-left: 5vw;
  border: 2px gray solid;
  border-radius: 4vw;
  margin-top: 1vw;
  background-color: rgba(255, 255, 255, 0.87);
  background-image: radial-gradient(red 0%, #8a0000, transparent 70%);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 8vw 8vw;
  color: black;
  cursor: pointer;
  font-family: Cunia, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: font-size 0.4s, background-size 0.4s;
  transition: font-size 0.4s, background-size 0.4s;
}
.job-summary__skills-item_html {
  background-color: #ee5f22;
  color: white;
  background-image: url(../images/html.png);
}
.job-summary__skills-item_css {
  background-color: #3b9adb;
  color: white;
  background-image: url(../images/css.png);
}
.job-summary__skills-item_js {
  background-color: #edd45a;
  color: white;
  background-image: url(../images/js.png);
}
.job-summary__skills-item_c {
  background-color: rgba(57, 72, 171, 0.87);
  color: white;
  background-image: url(../images/c.png);
}
.job-summary__skills-item_cpp {
  background-color: rgba(1, 127, 205, 0.842);
  color: white;
  background-image: url(../images/cpp.png);
}
.job-summary__skills-item_java {
  color: #396db8;
  background-image: url(../images/java.png);
}
.job-summary__skills-item_py {
  color: black;
  background-image: url(../images/py.png);
}
.job-summary__skills-item_psql {
  color: black;
  background-image: url(../images/psql.png);
}
.job-summary__skills-item_doc {
  color: #066da5;
  background-image: url(../images/doc.png);
}
.job-summary__skills-item_eng {
  color: black;
  background-image: url(../images/eng.png);
}
.job-summary__skills-item_git {
  color: black;
  background-image: url(../images/git.png);
}
.job-summary__skills-item_dj {
  background-color: rgba(9, 46, 32, 0.877);
  color: white;
  background-image: url(../images/dj.png);
}
@media screen and (min-width: 650px) {
  .job-summary__skills-item {
    background-size: 2.2vw 2.2vw;
  }
  .job-summary__skills-item:hover {
    background-size: 2.8vw 2.8vw;
    font-size: larger;
  }
}
.job-summary__skills-item_psql .sql-color {
  color: #316192;
}
.job-summary__skills-item:hover {
  background-size: 9vw 9vw;
  font-size: larger;
}

:root {
  --text: #2B3044;
  --line: #4e67f3c7;
  --line-active: #0040ffcc;
}

.link-oval-animation {
  position: relative;
  display: inline-block;
  margin: 0 var(--spacing, 0);
  color: inherit;
  text-decoration: none;
  -webkit-transition: margin .25s;
  transition: margin .25s;
}
.link-oval-animation svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 76px;
  height: 40px;
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  stroke-linecap: round;
  stroke-width: 2px;
  -webkit-transform: translate(-50%, 7px) translateZ(0);
          transform: translate(-50%, 7px) translateZ(0);
  -webkit-transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}
.link-oval-animation:hover {
  --spacing: 5px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
}

.techno-stack {
  border: 4px black solid;
}
@media screen and (min-width: 650px) {
  .techno-stack {
    width: 40%;
    margin: 0 auto;
    margin-top: 3vw;
  }
}
.techno-stack__head {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-family: Versus, sans-serif;
  font-size: 8vw;
  line-height: 1.33;
}
@media screen and (min-width: 650px) {
  .techno-stack__head {
    font-size: 3vw;
  }
}
.techno-stack__list {
  margin: 0;
  list-style-type: none;
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
}
.techno-stack__list-head {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-family: Versus, sans-serif;
  font-size: 6vw;
  line-height: 1.33;
  margin-top: 2vw;
  margin-bottom: 1vw;
}
@media screen and (min-width: 650px) {
  .techno-stack__list-head {
    font-size: 2vw;
  }
}
.techno-stack__item {
  margin-top: 1vw;
  background-color: rgba(139, 19, 139, 0.822);
  color: #ffb700;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.6s, color 0.6s, font-size 0.4s;
  transition: background-color 0.6s, color 0.6s, font-size 0.4s;
}
.techno-stack__item:hover {
  background-color: rgba(19, 31, 139, 0.822);
  color: #c54f00;
  font-size: larger;
}

.inline-border {
  position: relative;
  z-index: 1;
  top: -5vw;
  display: inline;
  background-color: #cccbcb;
  margin-block: 0.1em 0.1em;
}
@media screen and (min-width: 650px) {
  .inline-border {
    top: -2vw;
  }
}

.video-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30vh;
}

.loader {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*# sourceMappingURL=app.css.map */